@use 'sass:map';

/*
For responsive design
*/
$breakpoints: (
  xxs: 390px,
  xs: 480px,
  xsm: 576px,
  sm: 640px,
  md: 768px,
  'md-lg': 960px,
  lg: 1024px,
  xl: 1200px,
  xxl: 1280px,
  xl-3: 1440px,
  hd: 1600px,
);

@mixin mq($width, $type: min) {
  @if map.has-key($breakpoints, $width) {
    $width: map.get($breakpoints, $width);

    @if $type == max {
      $width: $width - 1px;
    }

    @media only screen and (#{$type}-width: $width) {
      @content;
    }
  }
}
