:root {
  --main-background: hsl(204, 15%, 6%);
  --border: hsl(195, 3%, 25%);
  --reddit-orange: hsl(16, 100%, 50%);
  --reddit-gray: hsl(200, 12%, 19%);
  --reddit-gray-hover: hsl(200, 13%, 25%);
}
