@use './functions' as f;

:root {
  --primary-black: hsl(0deg 0% 12.9%);
  --primary-white: hsl(0deg 0% 100%);
  --primary-salmon: hsl(343.2deg 69.2% 44.5%);
  --secondary-red: hsl(354.5deg 72.6% 47.3%);
  --secondary-yellow: hsl(31.2deg 89.3% 52.4%);
  --secondary-purple: hsl(296.7deg 31.6% 22.4%);
  --secondary-green: hsl(177deg 90% 25%);

  /* Red */
  --r-100: hsl(353.6deg 91.7% 85.9%);
  --r-200: hsl(353.7deg 88.1% 76.9%);
  --r-300: hsl(353.7deg 86.4% 65.5%);
  --r-400: hsl(353.5deg 66% 49.6%);
  --r-500: hsl(354.5deg 72.6% 47.3%);
  --r-600: hsl(354.2deg 73% 39.2%);
  --r-700: hsl(354.4deg 72.7% 31.6%);
  --r-800: hsl(354.5deg 73.3% 23.5%);
  --r-900: hsl(354.8deg 72.5% 15.7%);

  /* Salmon */
  --s-100: hsl(345.9deg 94.4% 92.9%);
  --s-200: hsl(346deg 88.2% 80%);
  --s-300: hsl(346.2deg 81.8% 69.8%);
  --s-400: hsl(346.4deg 76.5% 58.2%);
  --s-500: hsl(346.2deg 66.8% 51.6%);
  --s-600: hsl(346.4deg 61.3% 46.7%);
  --s-700: hsl(346.4deg 62.6% 42.9%);
  --s-800: hsl(346.4deg 62.5% 34.5%);
  --s-900: hsl(346.3deg 63.4% 25.7%);

  /* Yellow */
  --y-50: hsl(31.6deg 86.4% 91.4%);
  --y-100: hsl(27deg 100% 79%);
  --y-200: hsl(27.2deg 100% 70.6%);
  --y-300: hsl(31.3deg 87% 63.7%);
  --y-400: hsl(31deg 87.1% 60.4%);
  --y-500: hsl(31.2deg 89.3% 52.4%);
  --y-600: hsl(27.2deg 77% 50.6%);
  --y-700: hsl(27.3deg 78.3% 45.1%);
  --y-800: hsl(27deg 74.8% 42%);
  --y-900: hsl(27.4deg 86.2% 28.4%);

  /* Purple */
  --p-100: hsl(290deg 14.6% 83.9%);
  --p-200: hsl(289.6deg 20% 77.5%);
  --p-300: hsl(286.4deg 21% 58.8%);
  --p-400: hsl(286.7deg 19.8% 44.5%);
  --p-500: hsl(288.8deg 24% 39.2%);
  --p-600: hsl(288deg 29.4% 26.7%);
  --p-700: hsl(296.7deg 31.6% 22.4%);
  --p-800: hsl(298deg 31.9% 18.4%);
  --p-900: hsl(297.3deg 33.3% 12.9%);

  /* Green */
  --g-100: hsl(176.9deg 75.5% 44.9%);
  --g-200: hsl(177deg 73.8% 42%);
  --g-300: hsl(176.8deg 67.2% 38.2%);
  --g-400: hsl(176.9deg 100% 26.7%);
  --g-500: hsl(176.8deg 90.4% 24.5%);
  --g-600: hsl(174deg 78.9% 22.4%);
  --g-700: hsl(174.2deg 75.3% 19%);
  --g-800: hsl(174.7deg 81% 16.5%);
  --g-900: hsl(174deg 76% 13%);

  /* Neutrals */
  --n-100: hsl(0deg 0% 100%);
  --n-200: hsl(0deg 0% 96.1%);
  --n-300: hsl(220deg 3.5% 83.3%);
  --n-400: hsl(0deg 0% 65.1%);
  --n-500: hsl(0deg 0.4% 46.9%);
  --n-600: hsl(0deg 2.2% 35.3%);
  --n-700: hsl(0deg 2.1% 18.4%);
  --n-800: hsl(300deg 2.5% 15.7%);
  --n-900: hsl(0deg 0% 12.9%);

  /* Various heights, accurately calculated using js (variable-assignment.js)  */
  --admin-toolbar-height: 2.5rem;
  --header-height: 4.5rem;
}
